@charset "UTF-8";
/* -------------------------------------------------------------------------- *
 Copyright 2010, Francois Cabestaing, Universite Lille 1
 Style sheet for ICS display in PmWiki
 ---------------------------------------------------------------------
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * -------------------------------------------------------------------------- */

tr.ics {
  height: 64px;
}

th.ics {
  text-align: left;
  font-weight: bold;
}

td.ics-even {
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}

td.ics-odd {
  text-align: center;
  vertical-align: middle;
  background-color: #ece2f4;
}

td.ics-0 {
  color: #000000;
  background-color: #ffbfbf;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-1 {
  color: #000000;
  background-color: #ffefbf;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-2 {
  color: #000000;
  background-color: #dfffbf;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-3 {
  color: #000000;
  background-color: #bfffcf;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-4 {
  color: #000000;
  background-color: #bfffff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-5 {
  color: #000000;
  background-color: #bfcfff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-6 {
  color: #000000;
  background-color: #dfbfff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

td.ics-7 {
  color: #000000;
  background-color: #ffbfef;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

